.hotel_detail img {
  width: 100%;
  height: 60vh;
}

.hotel_detail {
  /* display: flex;
  justify-content: center;
  align-items: center; */
  /* height: 80vh; */
}

.full-cover {
  height: 85vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
