.tripType img {
  width: 100%;
  height: 250px;
}

.tripType h2 {
  padding: 20px 0px;
  font-family: "Raleway", sans-serif;
}

.tripType a {
  text-decoration: none;
}

@media only screen and (max-width: 600px) {
  .tripType h1 {
    font-size: 30px;
  }
}
